/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body {
	padding: 40px 120px;
	background: hsl(243, 96%, 9%);
	color: hsl(0, 0%, 100%);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.headerRight {
	background: hsl(243, 23%, 24%);
	padding: 10px;
	border-radius: 8px;
	border: none;
}
.headerRight a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
}
